/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #C2449F;
  --ifm-color-secondary: #303B72;
  --ifm-color-primary-dark: #202850;
  --ifm-color-primary-darker: #171d3a;
  --ifm-color-primary-darkest: hsl(229, 44%, 13%);
  --ifm-color-primary-light: #404f99;
  --ifm-color-primary-lighter: #4e61be;
  --ifm-color-primary-lightest: hsl(230, 78%, 65%);
  --ifm-code-font-size: 95%;
}

iframe {
  display:block;
  margin: 20px auto;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.formatLink {
  color: var(--ifm-color-secondary);
  text-decoration: none;
}

.hero {background-image: url('/img/GivethDocsLogoLight.svg');
background-size: cover;
border-bottom: 2px solid #E1458D;
}

#contentimg
{
  border: 5px solid #C2449F;
  border-radius: 15px;
  margin: 20px;
}

img.leftfloat {
  float: left;
  margin:15px;
  padding: 10px;

}
.tabs {
  font-size: 1.25em;
}

.importantText
{
  font-size: 1.1em;
  font-weight: bold;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#resize50 {
  width: 50%;
  height: auto;
}

#resize35 {
  width: 35%;
  height: auto;
}

.rightAlign {
  text-align: right;
}

#resize25 {
  width: 25%;
  height: auto;
}
/* #gifborder
{
  padding: 10px;
  border: 5px solid #B5B4E5;
  border-radius: 5px;
} */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.react-player__play-icon {
  margin-top: 15px;
  border-width: 26px 0px 26px 45px !important;
  border-color: transparent transparent transparent black !important;
}
